Count the unique digit of an integer.

In [ ]:
number = input("Enter an integer:: ")
#print(number)
#print(type(number))
d_list = []
for digit in number:
    #print(digit)
    if digit not in d_list:
        d_list.append(digit)
        
#print(d_list)
print("Number of unique digit in an integer =", len(d_list))

In [ ]:
def countuniquedigit(number):
    d_list = []
    for digit in number:
        if digit not in d_list:
            d_list.append(digit)
    return len(d_list)

In [ ]:
number = input("Enter an integer:: ")
d = countuniquedigit(number)
print("Number of unique digit in an integer =", d)

In [ ]:
number = int(input("Enter an integer:: "))
print(number)
print(type(number))
d_list = []
while number != 0:
    r = number % 10
    q = number // 10
    number = q
    if r not in d_list:
        d_list.append(r)
print(d_list)

In [ ]:
5/2

In [ ]:
5//2

In [ ]:
5%2

In [ ]:
def count_digit_interger(number):
    d_list = []
    while number != 0:
        r = number % 10
        q = number // 10
        number = q
        if r not in d_list:
            d_list.append(r)
    return len(d_list)

In [ ]:
count_digit_interger(125414231234)

In [ ]:
count_digit_interger(12315)

In [1]:
class Course:
    def __init__(self,code,name,credits,semester,instructor):
        self.code = code
        self.name = name
        self.credits = credits
        self.semester = semester
        self.instructor = instructor
        
    def __str__(self):
        return "The name of our course is " + self.name + " and its code is " + self.code + " It has " + str(self.credits) + " credits and it is taught by Professor " + self.instructor + " in " + self.semester + " semester."

In [2]:
c1 = Course("B100","Python Programming",3,"first","Mohammad")
c2 = Course("B101","Data Structure",4,"first","Reza")
c3 = Course("B102","Database",5,"first","Reza")
print("Python Programming")
print(c1)
print("------------")
print("Data Structure")
print(c2)
print("------------")
print("Big Data")
print(c3)

Python Programming
The name of our course is Python Programming and its code is B100 It has 3 credits and it is taught by Professor Mohammad in first semester.
------------
Data Structure
The name of our course is Data Structure and its code is B101 It has 4 credits and it is taught by Professor Reza in first semester.
------------
Big Data
The name of our course is Database and its code is B102 It has 5 credits and it is taught by Professor Reza in first semester.

In [23]:
class Student:
    def __init__(self, first_name, last_name, number):
        self.first_name = first_name
        self.last_name = last_name
        self.number = number
        self.courses = {}
        
    def __str__(self):
        return "The student's name is "+self.first_name+" "+self.last_name+". Student number is "+str(self.number)+'.'
        
    def set_course_mark(self, course, course_mark):
        self.courses[course.name] = course_mark
        
    def get_gpa(self):
        total = 0
        for c in self.courses:
            total += self.courses[c]
            
        return total/len(self.courses)

In [24]:
s1 = Student('John', 'Herry', 3)
s1.set_course_mark(c1, 89)
s1.set_course_mark(c2, 90)
s1.set_course_mark(c3, 85)
print(s1.courses)
print(s1.get_gpa())

{'Python Programming': 89, 'Data Structure': 90, 'Database': 85}
88.0

In [25]:
s2 = Student("Alex", "Helan", 2)
s2.set_course_mark(c1, 78)
s2.set_course_mark(c2, 80)
print(s2)
print(s2.courses)
print("GPA =", s2.get_gpa())

The student's name is Alex Helan. Student number is 2.
{'Python Programming': 78, 'Data Structure': 80}
GPA = 79.0

In [26]:
s3 = Student("Bob", "Helan", 5)
s3.set_course_mark(c1, 50)
s3.set_course_mark(c2, 30)
print(s3)
print(s3.courses)
print("GPA =", s3.get_gpa())

The student's name is Bob Helan. Student number is 5.
{'Python Programming': 50, 'Data Structure': 30}
GPA = 40.0

In [27]:
s4 = Student("Kyle", "Havert", 1)
s4.set_course_mark(c1, 89)
s4.set_course_mark(c2, 85)
s4.set_course_mark(c3, 78)
print(s4)
print(s4.courses)
print("GPA =", s4.get_gpa())

The student's name is Kyle Havert. Student number is 1.
{'Python Programming': 89, 'Data Structure': 85, 'Database': 78}
GPA = 84.0

In [28]:
class University:
    def __init__(self, name):
        self.name = name
        self.students =[]
        
    def __str__(self):
        return self.name+" University."
    
    def register_student(self, student):
        self.students.append(student)
        
    def graduate_student(self):
        for s in self.students:
            if(s.get_gpa() > 50):
                print(s,"and his/her GPA is",s.get_gpa())

In [36]:
u = University("GISMA")
u.register_student(s1)
u.register_student(s2)
u.register_student(s3)
u.register_student(s4)
print(u)
print("\nRegistered Student")
print("-------------------")
for s in u.students:
    print(s.first_name,s.last_name)
    for c,m in s.courses.items():
        print("     -->", c," : ",m)
print("\nGraduate Student")
print("----------------")
u.graduate_student()

GISMA University.

Registered Student
-------------------
John Herry
     --> Python Programming  :  89
     --> Data Structure  :  90
     --> Database  :  85
Alex Helan
     --> Python Programming  :  78
     --> Data Structure  :  80
Bob Helan
     --> Python Programming  :  50
     --> Data Structure  :  30
Kyle Havert
     --> Python Programming  :  89
     --> Data Structure  :  85
     --> Database  :  78

Graduate Student
----------------
The student's name is John Herry. Student number is 3. and his/her GPA is 88.0
The student's name is Alex Helan. Student number is 2. and his/her GPA is 79.0
The student's name is Kyle Havert. Student number is 1. and his/her GPA is 84.0

In [34]:
d = {1:100,2:200,3:300}
for k,v in d.items():
    print(k,"-->",v)

1 --> 100
2 --> 200
3 --> 300